.login-container {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    width: 100%;
    max-width: 400px;
    border: 1px solid #000;
  }
  
  h2 {
    color: #B71C1C; /* rojo mardu */
  }
  